<a href="https://colab.research.google.com/github/naponite/data-science-bootcamp-8/blob/main/portfolio/opp_class_atm.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Create class ATM for 5 method
- deposit
- withdraw
- transfer
- check balance
- display transaction log

In [28]:
import datetime
import pytz
import pandas as pd

tz = pytz.timezone('Asia/Bangkok')
x = datetime.datetime.now(tz)
log_time = []
log_type = []
log_amount = []

log_sheet = {
    "time": log_time ,
    "type": log_type ,
    "amount": log_amount
}

class atm:

  def __init__(self, acc_name, acc_num, promtpay, balance) :


    self.name = acc_name
    self.num = acc_num
    self.promtpay = promtpay
    self.balance = balance


  def deposit(self, deposit) :
    self.balance += deposit
    print(x.strftime("%c"))
    print(f"cash deposited: {deposit} THB")
    print(f"your account balance is: {self.balance} THB")

    log_time.append([x.strftime("%c")])
    log_type.append("deposit")
    log_amount.append(self.balance)

  def withdraw(self, withdraw) :
    self.balance -= withdraw
    print(x.strftime("%c"))
    print(f"cash withdrawed: {withdraw} THB")
    print(f"your account balance is: {self.balance} THB")

    log_time.append([x.strftime("%c")])
    log_type.append("withdraw")
    log_amount.append(self.balance)

  def transfer(self, transfer, receiver) :
    self.balance -= transfer
    print(x.strftime("%c"))
    print(f"cash transfered: {transfer} THB")
    print(f"to account: {receiver}")
    print(f"your account balance is: {self.balance} THB")

    log_time.append([x.strftime("%c")])
    log_type.append("transfer")
    log_amount.append(self.balance)

  def check(self) :
    print(x.strftime("%c"))
    print(f"your account balance is: {self.balance} THB")


  def log(self) :

    return(pd.DataFrame(log_sheet))

In [29]:
atm_tah = atm("Tah", "5013210", "0859195973", 10000)

In [30]:
atm_tah.deposit(5000)

Thu Aug 31 23:17:21 2023
cash deposited: 5000 THB
your account balance is: 15000 THB

In [31]:
atm_tah.withdraw(1000)

Thu Aug 31 23:17:21 2023
cash withdrawed: 1000 THB
your account balance is: 14000 THB

In [32]:
atm_tah.transfer(3000, "Ms.Narisorn")

Thu Aug 31 23:17:21 2023
cash transfered: 3000 THB
to account: Ms.Narisorn
your account balance is: 11000 THB

In [33]:
atm_tah.check()

Thu Aug 31 23:17:21 2023
your account balance is: 11000 THB

In [34]:
atm_tah.log()

                         time      type  amount
0  [Thu Aug 31 23:17:21 2023]   deposit   15000
1  [Thu Aug 31 23:17:21 2023]  withdraw   14000
2  [Thu Aug 31 23:17:21 2023]  transfer   11000