<a href="https://colab.research.google.com/github/naponite/data-science-bootcamp-8/blob/main/python/Essential_Python_for_Data_Analyst.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Essential Python for Data Analyst


- control flow + review function
- OOP
- try except block
- csv, json
- context manager
- requests, api
- basic web scraping
- intro to data science libraries (numpy, pandas)

In [ ]:

# if elif else
def grading(score):
  # docstrings
  """
  this function return grade for a student
  in UK
  """

  if score >= 70:
    return "Disctinction"
  elif score >= 60:
    return "Merit"
  elif score >= 50:
    return "Passed"
  else:
    return "Failed"

In [ ]:
grading(80)

'Disctinction'

In [ ]:
# for loop
nums = [1,2,3,4,5] ## => [2,4,6,8,10]

new_nums = [] # empty list

for num in nums:
  new_nums.append(num*2)

print(new_nums)

[2, 4, 6, 8, 10]

In [ ]:
## program to check odd/ even numbers
nums  = [35, 50, 22, 21, 28]

In [ ]:
# while loop
count = 0

while count < 5:
  print("hello")

In [ ]:
# get input from a user
def animal_guessing():
  set_animal = "hippo"
  answers = []
  while True:
    guess = input("Guess the animal: ")
    answers.append(guess)
    if guess == set_animal:
      print("Hooray! correct answer")
      print(f"Logs: {answers} ")
      break
    elif guess == "quit":
      print("See you next time.")
      break
    else:
      print("Nope! please try again.")

In [ ]:
animal_guessing()

Guess the animal: dog
Nope! please try again.
Guess the animal: cat
Nope! please try again.
Guess the animal: bird
Nope! please try again.
Guess the animal: aaa
Nope! please try again.
Guess the animal: owl
Nope! please try again.
Guess the animal: hippo
Hooray! correct answer
Logs: ['dog', 'cat', 'bird', 'aaa', 'owl', 'hippo']

In [ ]:
## OOP => Object Oriented Progamming

In [ ]:
## Dog
class Dog:
  # initialize
  def __init__(self,name, age, breed): # double _ is dunder  # self will refer to Dog
        self.name = name
        self.age = age
        self.breed = breed

  ## dog methods (function)
  def sit(self):
      print("I am sitting now.")

  def sleep(self):
    print("I'm sleeping now.")

  def get_older(self, year):
    self.age += year
    print(self.age)

In [ ]:
## create a new instance
dog1 = Dog("john", 7, "chihuahua")

In [ ]:
dog1.sit()

I am sitting now.

In [ ]:
dog1.sleep()

I'm sleeping now.

In [ ]:
dog1.get_older(5)

12

In [ ]:
class Apple:
  def __init__(self, size, price, color):
    self.size = size
    self.price = price
    self.color = color

apple1 = Apple("medium", 5, "red")

print(apple1.size, apple1.price, apple1.color)

medium 5 red

In [ ]:
import csv

In [ ]:
# open csv file using read mode
file = open("friend.csv", "r")

In [ ]:
# read content in this file
data = csv.reader(file)

In [ ]:
for row in data:
  print(row)

['id', 'name', 'age', 'company']
['1', 'toy', '30', 'Google']
['2', 'top', '31', 'Amazon']
['3', 'jane', '25', 'Microsoft']
['4', 'john', '28', 'Meta']
['5', 'anna', '29', 'Anaconda']

In [ ]:
# close file
file.close

In [ ]:
# pandas
import pandas as pd

In [ ]:
pd.read_csv('friend')

In [ ]:
## context manager => with
## use to open data file

In [ ]:
# import csv or
from csv import reader  # if this method, we no need to type csv.reader
result = []

with open("friend.csv", "r") as file:
  #data = csv.reader(file)
  data = reader(file)
  for row in data:
    result.append(row)

result

[['id', 'name', 'age', 'company'],
 ['1', 'toy', '30', 'Google'],
 ['2', 'top', '31', 'Amazon'],
 ['3', 'jane', '25', 'Microsoft'],
 ['4', 'john', '28', 'Meta'],
 ['5', 'anna', '29', 'Anaconda']]

In [ ]:
## write mode
from csv import reader, writer
header = []

In [ ]:
## dict => json
import json
book = {
    "name": "How to be better at almost everthing",
    "year": 2018,
    "author": "Pat Flynn",
    "favorite": True

}

with open("book.json", "w") as file:
  json.dump(book, file)
  print("Create file successfully!")

Create file successfully!

In [ ]:
# API => Application Programming Interface
# Communication between two machines

# request-response
# simple example
import requests

url ="https://swapi.dev/api/people/9/"

resp= requests.get(url)

## if success, OK 200
print(f"CODE:{resp.status_code}")

## see information
resp.text

CODE:200

'{"name":"Biggs Darklighter","height":"183","mass":"84","hair_color":"black","skin_color":"light","eye_color":"brown","birth_year":"24BBY","gender":"male","homeworld":"https://swapi.dev/api/planets/1/","films":["https://swapi.dev/api/films/1/"],"species":[],"vehicles":[],"starships":["https://swapi.dev/api/starships/12/"],"created":"2014-12-10T15:59:50.509000Z","edited":"2014-12-20T21:17:50.323000Z","url":"https://swapi.dev/api/people/9/"}'

In [ ]:
## see information in json format
resp.json()
resp.json()["name"]

'Biggs Darklighter'

In [ ]:
# get API data for 5 names

import requests
import time

characters = []

for i in range(5):
    url = f"https://swapi.dev/api/people/{i+1}"
    resp= requests.get(url)
    if resp.status_code == 200:
      json_data = resp.json()
      characters.append(
          (json_data["name"],
          json_data["height"])    # this is used case for tuple (list also can use)
      )
    # break a second
    time.sleep(1)

    else:
      characters.append("error") # add error detector


print(characters)

[('Luke Skywalker', '172'), ('C-3PO', '167'), ('R2-D2', '96'), ('Darth Vader', '202'), ('Leia Organa', '150')]

In [ ]:
characters

[('Luke Skywalker', '172'),
 ('C-3PO', '167'),
 ('R2-D2', '96'),
 ('Darth Vader', '202'),
 ('Leia Organa', '150')]

In [ ]:
# web scraping
# install new library on google colab
# pip => package manager in Python

!pip install gazpacho

Collecting gazpacho
  Downloading gazpacho-1.1.tar.gz (7.9 kB)
  Installing build dependencies ... done
  Getting requirements to build wheel ... done
  Preparing metadata (pyproject.toml) ... done
Building wheels for collected packages: gazpacho
  Building wheel for gazpacho (pyproject.toml) ... done
  Created wheel for gazpacho: filename=gazpacho-1.1-py3-none-any.whl size=7461 sha256=8f1d5387c7b21af1b5e09e1aadb90522687515df559566c4f84f3e3902de5dad
  Stored in directory: /root/.cache/pip/wheels/9b/bf/9f/8c8849499462415fa5cdf0d9edb1103c189bdbece90c51488e
Successfully built gazpacho
Installing collected packages: gazpacho
Successfully installed gazpacho-1.1

In [ ]:
!pip list

Package                          Version
-------------------------------- ---------------------
absl-py                          1.4.0
aiohttp                          3.8.5
aiosignal                        1.3.1
alabaster                        0.7.13
albumentations                   1.3.1
altair                           4.2.2
annotated-types                  0.5.0
anyio                            3.7.1
appdirs                          1.4.4
argon2-cffi                      23.1.0
argon2-cffi-bindings             21.2.0
array-record                     0.4.1
arviz                            0.15.1
astropy                          5.3.2
astunparse                       1.6.3
async-timeout                    4.0.3
attrs                            23.1.0
audioread                        3.0.0
autograd                         1.6.2
Babel                            2.12.1
backcall                         0.2.0
beautifulsoup4                   4.11.2
bleach                           6.0.0
blinker                          1.4
blis                             0.7.10
blosc2                           2.0.0
bokeh                            3.2.2
branca                           0.6.0
build                            0.10.0
CacheControl                     0.13.1
cachetools                       5.3.1
catalogue                        2.0.9
certifi                          2023.7.22
cffi                             1.15.1
chardet                          5.2.0
charset-normalizer               3.2.0
chex                             0.1.7
click                            8.1.7
click-plugins                    1.1.1
cligj                            0.7.2
cloudpickle                      2.2.1
cmake                            3.27.2
cmdstanpy                        1.1.0
colorcet                         3.0.1
colorlover                       0.3.0
community                        1.0.0b1
confection                       0.1.1
cons                             0.4.6
contextlib2                      21.6.0
contourpy                        1.1.0
convertdate                      2.4.0
cryptography                     41.0.3
cufflinks                        0.17.3
cvxopt                           1.3.2
cvxpy                            1.3.2
cycler                           0.11.0
cymem                            2.0.7
Cython                           0.29.36
dask                             2023.8.1
datascience                      0.17.6
db-dtypes                        1.1.1
dbus-python                      1.2.18
debugpy                          1.6.6
decorator                        4.4.2
defusedxml                       0.7.1
distributed                      2023.8.1
distro                           1.7.0
dlib                             19.24.2
dm-tree                          0.1.8
docutils                         0.18.1
dopamine-rl                      4.0.6
duckdb                           0.8.1
earthengine-api                  0.1.364
easydict                         1.10
ecos                             2.0.12
editdistance                     0.6.2
en-core-web-sm                   3.6.0
entrypoints                      0.4
ephem                            4.1.4
et-xmlfile                       1.1.0
etils                            1.4.1
etuples                          0.3.9
exceptiongroup                   1.1.3
fastai                           2.7.12
fastcore                         1.5.29
fastdownload                     0.0.7
fastjsonschema                   2.18.0
fastprogress                     1.0.3
fastrlock                        0.8.1
filelock                         3.12.2
Fiona                            1.9.4.post1
firebase-admin                   5.3.0
Flask                            2.2.5
flatbuffers                      23.5.26
flax                             0.7.2
folium                           0.14.0
fonttools                        4.42.1
frozendict                       2.3.8
frozenlist                       1.4.0
fsspec                           2023.6.0
future                           0.18.3
gast                             0.4.0
gazpacho                         1.1
gcsfs                            2023.6.0
GDAL                             3.4.3
gdown                            4.6.6
gensim                           4.3.1
geographiclib                    2.0
geopandas                        0.13.2
geopy                            2.3.0
gin-config                       0.5.0
glob2                            0.7
google                           2.0.3
google-api-core                  2.11.1
google-api-python-client         2.84.0
google-auth                      2.17.3
google-auth-httplib2             0.1.0
google-auth-oauthlib             1.0.0
google-cloud-bigquery            3.10.0
google-cloud-bigquery-connection 1.12.1
google-cloud-bigquery-storage    2.22.0
google-cloud-core                2.3.3
google-cloud-datastore           2.15.2
google-cloud-firestore           2.11.1
google-cloud-functions           1.13.2
google-cloud-language            2.9.1
google-cloud-storage             2.8.0
google-cloud-translate           3.11.3
google-colab                     1.0.0
google-crc32c                    1.5.0
google-pasta                     0.2.0
google-resumable-media           2.5.0
googleapis-common-protos         1.60.0
googledrivedownloader            0.4
graphviz                         0.20.1
greenlet                         2.0.2
grpc-google-iam-v1               0.12.6
grpcio                           1.57.0
grpcio-status                    1.48.2
gspread                          3.4.2
gspread-dataframe                3.3.1
gym                              0.25.2
gym-notices                      0.0.8
h5netcdf                         1.2.0
h5py                             3.9.0
holidays                         0.31
holoviews                        1.17.1
html5lib                         1.1
httpimport                       1.3.1
httplib2                         0.22.0
humanize                         4.7.0
hyperopt                         0.2.7
idna                             3.4
imageio                          2.31.1
imageio-ffmpeg                   0.4.8
imagesize                        1.4.1
imbalanced-learn                 0.10.1
imgaug                           0.4.0
importlib-metadata               6.8.0
importlib-resources              6.0.1
imutils                          0.5.4
inflect                          7.0.0
iniconfig                        2.0.0
intel-openmp                     2023.2.0
ipykernel                        5.5.6
ipython                          7.34.0
ipython-genutils                 0.2.0
ipython-sql                      0.5.0
ipywidgets                       7.7.1
itsdangerous                     2.1.2
jax                              0.4.14
jaxlib                           0.4.14+cuda11.cudnn86
jeepney                          0.7.1
jieba                            0.42.1
Jinja2                           3.1.2
joblib                           1.3.2
jsonpickle                       3.0.2
jsonschema                       4.19.0
jsonschema-specifications        2023.7.1
jupyter-client                   6.1.12
jupyter-console                  6.1.0
jupyter_core                     5.3.1
jupyter-server                   1.24.0
jupyterlab-pygments              0.2.2
jupyterlab-widgets               3.0.8
kaggle                           1.5.16
keras                            2.12.0
keyring                          23.5.0
kiwisolver                       1.4.4
langcodes                        3.3.0
launchpadlib                     1.10.16
lazr.restfulclient               0.14.4
lazr.uri                         1.0.6
lazy_loader                      0.3
libclang                         16.0.6
librosa                          0.10.1
lightgbm                         4.0.0
linkify-it-py                    2.0.2
lit                              16.0.6
llvmlite                         0.39.1
locket                           1.0.0
logical-unification              0.4.6
LunarCalendar                    0.0.9
lxml                             4.9.3
Markdown                         3.4.4
markdown-it-py                   3.0.0
MarkupSafe                       2.1.3
matplotlib                       3.7.1
matplotlib-inline                0.1.6
matplotlib-venn                  0.11.9
mdit-py-plugins                  0.4.0
mdurl                            0.1.2
miniKanren                       1.0.3
missingno                        0.5.2
mistune                          0.8.4
mizani                           0.9.2
mkl                              2023.2.0
ml-dtypes                        0.2.0
mlxtend                          0.22.0
more-itertools                   10.1.0
moviepy                          1.0.3
mpmath                           1.3.0
msgpack                          1.0.5
multidict                        6.0.4
multipledispatch                 1.0.0
multitasking                     0.0.11
murmurhash                       1.0.9
music21                          9.1.0
natsort                          8.4.0
nbclassic                        1.0.0
nbclient                         0.8.0
nbconvert                        6.5.4
nbformat                         5.9.2
nest-asyncio                     1.5.7
networkx                         3.1
nibabel                          4.0.2
nltk                             3.8.1
notebook                         6.5.5
notebook_shim                    0.2.3
numba                            0.56.4
numexpr                          2.8.5
numpy                            1.23.5
oauth2client                     4.1.3
oauthlib                         3.2.2
opencv-contrib-python            4.8.0.76
opencv-python                    4.8.0.76
opencv-python-headless           4.8.0.76
openpyxl                         3.1.2
opt-einsum                       3.3.0
optax                            0.1.7
orbax-checkpoint                 0.3.5
osqp                             0.6.2.post8
packaging                        23.1
pandas                           1.5.3
pandas-datareader                0.10.0
pandas-gbq                       0.17.9
pandocfilters                    1.5.0
panel                            1.2.1
param                            1.13.0
parso                            0.8.3
partd                            1.4.0
pathlib                          1.0.1
pathy                            0.10.2
patsy                            0.5.3
pexpect                          4.8.0
pickleshare                      0.7.5
Pillow                           9.4.0
pip                              23.1.2
pip-tools                        6.13.0
platformdirs                     3.10.0
plotly                           5.15.0
plotnine                         0.12.2
pluggy                           1.2.0
polars                           0.17.3
pooch                            1.7.0
portpicker                       1.5.2
prefetch-generator               1.0.3
preshed                          3.0.8
prettytable                      3.8.0
proglog                          0.1.10
progressbar2                     4.2.0
prometheus-client                0.17.1
promise                          2.3
prompt-toolkit                   3.0.39
prophet                          1.1.4
proto-plus                       1.22.3
protobuf                         3.20.3
psutil                           5.9.5
psycopg2                         2.9.7
ptyprocess                       0.7.0
py-cpuinfo                       9.0.0
py4j                             0.10.9.7
pyarrow                          9.0.0
pyasn1                           0.5.0
pyasn1-modules                   0.3.0
pycocotools                      2.0.7
pycparser                        2.21
pyct                             0.5.0
pydantic                         2.2.1
pydantic_core                    2.6.1
pydata-google-auth               1.8.2
pydot                            1.4.2
pydot-ng                         2.0.0
pydotplus                        2.0.2
PyDrive                          1.3.1
PyDrive2                         1.6.3
pyerfa                           2.0.0.3
pygame                           2.5.1
Pygments                         2.16.1
PyGObject                        3.42.1
PyJWT                            2.3.0
pymc                             5.7.2
PyMeeus                          0.5.12
pymystem3                        0.2.0
PyOpenGL                         3.1.7
pyOpenSSL                        23.2.0
pyparsing                        3.1.1
pyproj                           3.6.0
pyproject_hooks                  1.0.0
PySocks                          1.7.1
pytensor                         2.14.2
pytest                           7.4.0
python-apt                       0.0.0
python-dateutil                  2.8.2
python-louvain                   0.16
python-slugify                   8.0.1
python-utils                     3.7.0
pytz                             2023.3
pyviz_comms                      3.0.0
PyWavelets                       1.4.1
PyYAML                           6.0.1
pyzmq                            23.2.1
qdldl                            0.1.7.post0
qudida                           0.0.4
referencing                      0.30.2
regex                            2023.6.3
requests                         2.31.0
requests-oauthlib                1.3.1
requirements-parser              0.5.0
rich                             13.5.2
rpds-py                          0.9.2
rpy2                             3.4.2
rsa                              4.9
scikit-image                     0.19.3
scikit-learn                     1.2.2
scipy                            1.10.1
scs                              3.2.3
seaborn                          0.12.2
SecretStorage                    3.3.1
Send2Trash                       1.8.2
setuptools                       67.7.2
shapely                          2.0.1
six                              1.16.0
sklearn-pandas                   2.2.0
smart-open                       6.3.0
sniffio                          1.3.0
snowballstemmer                  2.2.0
sortedcontainers                 2.4.0
soundfile                        0.12.1
soupsieve                        2.4.1
soxr                             0.3.6
spacy                            3.6.1
spacy-legacy                     3.0.12
spacy-loggers                    1.0.4
Sphinx                           5.0.2
sphinxcontrib-applehelp          1.0.7
sphinxcontrib-devhelp            1.0.5
sphinxcontrib-htmlhelp           2.0.4
sphinxcontrib-jsmath             1.0.1
sphinxcontrib-qthelp             1.0.6
sphinxcontrib-serializinghtml    1.1.9
SQLAlchemy                       2.0.20
sqlparse                         0.4.4
srsly                            2.4.7
statsmodels                      0.14.0
sympy                            1.12
tables                           3.8.0
tabulate                         0.9.0
tbb                              2021.10.0
tblib                            2.0.0
tenacity                         8.2.3
tensorboard                      2.12.3
tensorboard-data-server          0.7.1
tensorflow                       2.12.0
tensorflow-datasets              4.9.2
tensorflow-estimator             2.12.0
tensorflow-gcs-config            2.12.0
tensorflow-hub                   0.14.0
tensorflow-io-gcs-filesystem     0.33.0
tensorflow-metadata              1.14.0
tensorflow-probability           0.20.1
tensorstore                      0.1.41
termcolor                        2.3.0
terminado                        0.17.1
text-unidecode                   1.3
textblob                         0.17.1
tf-slim                          1.1.0
thinc                            8.1.12
threadpoolctl                    3.2.0
tifffile                         2023.8.12
tinycss2                         1.2.1
toml                             0.10.2
tomli                            2.0.1
toolz                            0.12.0
torch                            2.0.1+cu118
torchaudio                       2.0.2+cu118
torchdata                        0.6.1
torchsummary                     1.5.1
torchtext                        0.15.2
torchvision                      0.15.2+cu118
tornado                          6.3.2
tqdm                             4.66.1
traitlets                        5.7.1
triton                           2.0.0
tweepy                           4.13.0
typer                            0.9.0
types-setuptools                 68.1.0.0
typing_extensions                4.7.1
tzlocal                          5.0.1
uc-micro-py                      1.0.2
uritemplate                      4.1.1
urllib3                          2.0.4
vega-datasets                    0.9.0
wadllib                          1.3.6
wasabi                           1.1.2
wcwidth                          0.2.6
webcolors                        1.13
webencodings                     0.5.1
websocket-client                 1.6.2
Werkzeug                         2.3.7
wheel                            0.41.2
widgetsnbextension               3.6.5
wordcloud                        1.9.2
wrapt                            1.14.1
xarray                           2023.7.0
xarray-einstats                  0.6.0
xgboost                          1.7.6
xlrd                             2.0.1
xyzservices                      2023.7.0
yarl                             1.9.2
yellowbrick                      1.5
yfinance                         0.2.28
zict                             3.0.0
zipp                             3.16.2

In [ ]:
## import function
from gazpacho import Soup
import requests

In [ ]:
# web sraping basic
url = "https://www.imdb.com/search/title/?groups=top_100&sort=user_rating,desc"

html = requests.get(url)
print(html) # check status code

<Response [200]>

In [ ]:
html.text

In [ ]:
imdb = Soup(html.text)
print(imdb)

In [ ]:
titles = imdb.find("h3", {"class": "lister-item-header"})
# the data collected in list data type

# basic cleaning method by for loop

"""
clean_titles = []


for title in titles:
  clean_titles.append(title.strip())
"""

# list comprehension to clean by one shot

clean_titles = [title.strip() for title in titles]

clean_titles

['1. The Shawshank Redemption (1994)',
 '2. The Godfather (1972)',
 '3. The Dark Knight (2008)',
 "4. Schindler's List (1993)",
 '5. The Godfather Part II (1974)',
 '6. The Lord of the Rings: The Return of the King (2003)',
 '7. 12 Angry Men (1957)',
 '8. Pulp Fiction (1994)',
 '9. Spider-Man: Across the Spider-Verse (2023)',
 '10. Inception (2010)',
 '11. The Lord of the Rings: The Fellowship of the Ring (2001)',
 '12. Fight Club (1999)',
 '13. Forrest Gump (1994)',
 '14. The Good, the Bad and the Ugly (1966)',
 '15. The Lord of the Rings: The Two Towers (2002)',
 '16. Interstellar (2014)',
 '17. Goodfellas (1990)',
 '18. The Matrix (1999)',
 "19. One Flew Over the Cuckoo's Nest (1975)",
 '20. Star Wars: Episode V - The Empire Strikes Back (1980)',
 '21. Oppenheimer (2023)',
 '22. Se7en (1995)',
 '23. The Silence of the Lambs (1991)',
 '24. Terminator 2: Judgment Day (1991)',
 '25. Saving Private Ryan (1998)',
 '26. The Green Mile (1999)',
 '27. Spirited Away (2001)',
 '28. Star Wars: Episode IV - A New Hope (1977)',
 '29. City of God (2002)',
 '30. Life Is Beautiful (1997)',
 '31. Seven Samurai (1954)',
 "32. It's a Wonderful Life (1946)",
 '33. Harakiri (1962)',
 '34. The Prestige (2006)',
 '35. The Departed (2006)',
 '36. Gladiator (2000)',
 '37. Parasite (2019)',
 '38. Django Unchained (2012)',
 '39. Back to the Future (1985)',
 '40. Alien (1979)',
 '41. Whiplash (2014)',
 '42. Lon: The Professional (1994)',
 '43. The Pianist (2002)',
 '44. The Usual Suspects (1995)',
 '45. The Lion King (1994)',
 '46. American History X (1998)',
 '47. Psycho (1960)',
 '48. Once Upon a Time in the West (1968)',
 '49. Casablanca (1942)',
 '50. The Intouchables (2011)']

In [ ]:
# clean rating
ratings = imdb.find("div", {"class": "inline-block ratings-imdb-rating"})


# list comprehension to clean by one shot
# use float to convert string to number
clean_ratings = [float(rating.strip()) for rating in ratings]

clean_ratings

[9.3,
 9.2,
 9.0,
 9.0,
 9.0,
 9.0,
 9.0,
 8.9,
 8.8,
 8.8,
 8.8,
 8.8,
 8.8,
 8.8,
 8.8,
 8.7,
 8.7,
 8.7,
 8.7,
 8.7,
 8.6,
 8.6,
 8.6,
 8.6,
 8.6,
 8.6,
 8.6,
 8.6,
 8.6,
 8.6,
 8.6,
 8.6,
 8.6,
 8.5,
 8.5,
 8.5,
 8.5,
 8.5,
 8.5,
 8.5,
 8.5,
 8.5,
 8.5,
 8.5,
 8.5,
 8.5,
 8.5,
 8.5,
 8.5,
 8.5]

In [ ]:
# create dataframe
import pandas as pd
movie_database = pd.DataFrame(data = {
    "title" : clean_titles,
    "rating" : clean_ratings

})

# view first five rows
movie_database.head()

                                title  rating
0  1. The Shawshank Redemption (1994)     9.3
1             2. The Godfather (1972)     9.2
2           3. The Dark Knight (2008)     9.0
3          4. Schindler's List (1993)     9.0
4     5. The Godfather Part II (1974)     9.0

In [ ]:
# numerical python
# very fast

In [ ]:
import numpy as np

nums = [1,2,3,4,5]

In [ ]:
[num*2 for num in nums]

[2, 4, 6, 8, 10]

In [ ]:
nums = np.array(nums)
print(nums*2)
print(nums/2)
print(nums+5)
print(nums-5)

[ 2  4  6  8 10]
[0.5 1.  1.5 2.  2.5]
[ 6  7  8  9 10]
[-4 -3 -2 -1  0]

In [ ]:
# statistics calculation
print(nums.min())
print(nums.max())
print(nums.mean())
print(nums.std())

# median has only function form (no method form as above)
print(np.median(nums))

1
5
3.0
1.4142135623730951
3.0

In [ ]:
np.arange(10) # same as range in native python "range(10)""

array([0, 1, 2, 3, 4, 5, 6, 7, 8, 9])

In [ ]:
np.arange(10) +1

array([ 1,  2,  3,  4,  5,  6,  7,  8,  9, 10])

In [ ]:
np.linspace(0,10, num=20)

array([ 0.        ,  0.52631579,  1.05263158,  1.57894737,  2.10526316,
        2.63157895,  3.15789474,  3.68421053,  4.21052632,  4.73684211,
        5.26315789,  5.78947368,  6.31578947,  6.84210526,  7.36842105,
        7.89473684,  8.42105263,  8.94736842,  9.47368421, 10.        ])

In [ ]:
n2 = np.array([
    [1,2],
    [3,4]

])

print(n2, type(n2))

[[1 2]
 [3 4]] <class 'numpy.ndarray'>

In [ ]:
## matrix * matrix
## .dot notation
m1 = np.array([[1,2],[5,5]])
m2 = np.array([[4,2],[1,2]])

np.dot(m1,m2)

array([[ 6,  6],
       [25, 20]])

# pandas library

In [ ]:
# import pandas
# manage dataframe
import pandas as pd

# read data from csv file

url = "https://gist.githubusercontent.com/seankross/a412dfbd88b3db70b74b/raw/5f23f993cd87c283ce766e7ac6b329ee7cc2e1d1/mtcars.csv"

mtcars = pd.read_csv(url)

In [ ]:
# view first five rows
mtcars.head()

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
0,Mazda RX4,21.0,6,160.0,110,3.90,2.620,16.46,0,1,4,4
1,Mazda RX4 Wag,21.0,6,160.0,110,3.90,2.875,17.02,0,1,4,4
2,Datsun 710,22.8,4,108.0,93,3.85,2.320,18.61,1,1,4,1
3,Hornet 4 Drive,21.4,6,258.0,110,3.08,3.215,19.44,1,0,3,1
4,Hornet Sportabout,18.7,8,360.0,175,3.15,3.440,17.02,0,0,3,2

In [ ]:
# view data frame size
mtcars.shape

(32, 12)

In [ ]:
# view summary data frame
mtcars.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32 entries, 0 to 31
Data columns (total 12 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   model   32 non-null     object
 1   mpg     32 non-null     float64
 2   cyl     32 non-null     int64
 3   disp    32 non-null     float64
 4   hp      32 non-null     int64
 5   drat    32 non-null     float64
 6   wt      32 non-null     float64
 7   qsec    32 non-null     float64
 8   vs      32 non-null     int64
 9   am      32 non-null     int64
 10  gear    32 non-null     int64
 11  carb    32 non-null     int64
dtypes: float64(5), int64(6), object(1)
memory usage: 3.1+ KB

In [ ]:
# subset of data frame
mtcars["mpg"]
mtcars[["mpg", "model","hp"]].head()

    mpg              model   hp
0  21.0          Mazda RX4  110
1  21.0      Mazda RX4 Wag  110
2  22.8         Datsun 710   93
3  21.4     Hornet 4 Drive  110
4  18.7  Hornet Sportabout  175

In [ ]:
# filter
mtcars["mpg"] > 30  # result will show in boolean
mtcars [ mtcars["mpg"] > 30 ]  # to display dataframe correctly

,model,mpg,cyl,disp,hp,drat,wt,qsec,vs,am,gear,carb
17,Fiat 128,32.4,4,78.7,66,4.08,2.200,19.47,1,1,4,1
18,Honda Civic,30.4,4,75.7,52,4.93,1.615,18.52,1,1,4,2
19,Toyota Corolla,33.9,4,71.1,65,4.22,1.835,19.90,1,1,4,1
27,Lotus Europa,30.4,4,95.1,113,3.77,1.513,16.90,1,1,5,2

In [ ]:
# filter for multiple condition
mtcars [ (mtcars["mpg"] > 30) & (mtcars["hp"] > 100) ]

           model   mpg  cyl  disp   hp  drat     wt  qsec  vs  am  gear  carb
27  Lotus Europa  30.4    4  95.1  113  3.77  1.513  16.9   1   1     5     2

In [ ]:
# pandas .query()
# condition used to filter dataframe
mtcars.query(" mpg > 30 and hp > 100")

           model   mpg  cyl  disp   hp  drat     wt  qsec  vs  am  gear  carb
27  Lotus Europa  30.4    4  95.1  113  3.77  1.513  16.9   1   1     5     2

In [ ]:
# aggregate + group by
# read data from store.csv
import pandas as pd
store = pd.read_csv("store.csv")

In [ ]:
store.shape

(9161, 21)

In [ ]:
store.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 9161 entries, 0 to 9160
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   Row ID         9161 non-null   int64
 1   Order ID       9161 non-null   object
 2   Order Date     9160 non-null   object
 3   Ship Date      9160 non-null   object
 4   Ship Mode      9160 non-null   object
 5   Customer ID    9160 non-null   object
 6   Customer Name  9160 non-null   object
 7   Segment        9160 non-null   object
 8   Country        9160 non-null   object
 9   City           9160 non-null   object
 10  State          9160 non-null   object
 11  Postal Code    9160 non-null   float64
 12  Region         9160 non-null   object
 13  Product ID     9160 non-null   object
 14  Category       9160 non-null   object
 15  Sub-Category   9160 non-null   object
 16  Product Name   9160 non-null   object
 17  Sales          9160 non-null   float64
 18  Quantity       9160 non-null   float64
 19  Discount       9160 non-null   float64
 20  Profit         9160 non-null   float64
dtypes: float64(5), int64(1), object(15)
memory usage: 1.5+ MB

In [ ]:
store.columns # check column name to clean

Index(['Row ID', 'Order ID', 'Order Date', 'Ship Date', 'Ship Mode',
       'Customer ID', 'Customer Name', 'Segment', 'Country', 'City', 'State',
       'Postal Code', 'Region', 'Product ID', 'Category', 'Sub-Category',
       'Product Name', 'Sales', 'Quantity', 'Discount', 'Profit'],
      dtype='object')

In [ ]:
col_names = list(store.columns)
clean_col_names = [col.lower().replace(" ","_").replace("-","_") for col in col_names]
store.columns = clean_col_names

In [ ]:
store.head()

,row_id,order_id,order_date,ship_date,ship_mode,customer_id,customer_name,segment,country,city,...,postal_code,region,product_id,category,sub_category,product_name,sales,quantity,discount,profit
0,1,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-BO-10001798,Furniture,Bookcases,Bush Somerset Collection Bookcase,261.9600,2,0.00,41.9136
1,2,CA-2016-152156,11/8/2016,11/11/2016,Second Class,CG-12520,Claire Gute,Consumer,United States,Henderson,...,42420,South,FUR-CH-10000454,Furniture,Chairs,"Hon Deluxe Fabric Upholstered Stacking Chairs,...",731.9400,3,0.00,219.5820
2,3,CA-2016-138688,6/12/2016,6/16/2016,Second Class,DV-13045,Darrin Van Huff,Corporate,United States,Los Angeles,...,90036,West,OFF-LA-10000240,Office Supplies,Labels,Self-Adhesive Address Labels for Typewriters b...,14.6200,2,0.00,6.8714
3,4,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,FUR-TA-10000577,Furniture,Tables,Bretford CR4500 Series Slim Rectangular Table,957.5775,5,0.45,-383.0310
4,5,US-2015-108966,10/11/2015,10/18/2015,Standard Class,SO-20335,Sean O'Donnell,Consumer,United States,Fort Lauderdale,...,33311,South,OFF-ST-10000760,Office Supplies,Storage,Eldon Fold 'N Roll Cart System,22.3680,2,0.20,2.5164

In [ ]:
# aggregate sum
store["sales"].sum()

2297200.8603000003

In [ ]:
# aggregate + groupby
# group by region
store.groupby("region")["sales"].sum()


# refer R programming concept

# store %>% groupby(region) %>% summarise(sum(sales))

region
Central    501239.8908
East       678781.2400
South      391721.9050
West       725457.8245
Name: sales, dtype: float64

In [ ]:
# group by segment
store.groupby("segment")["sales"].sum()

segment
Consumer       1.161401e+06
Corporate      7.061464e+05
Home Office    4.296531e+05
Name: sales, dtype: float64

In [ ]:
# group by with multiple keys
result = store.groupby(["segment", "category"])["sales"].sum().reset_index()

In [ ]:
# save to csv file
result.to_csv("agg_data.csv")

In [ ]:
# multiple aggregated columns
store.groupby("segment")["sales"].\
    agg(["sum", "mean", "std"]).\
    reset_index()

       segment           sum        mean         std
0     Consumer  1.161401e+06  223.733644  585.516175
1    Corporate  7.061464e+05  233.823300  599.410408
2  Home Office  4.296531e+05  240.972041  755.516379

In [ ]:
# read data from sql database